@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* This file is for your main application CSS */

[x-cloak] {
  display: none;
}

iconify-icon {
 display: inline-block;
 width: 1em;
 height: 1em;
}